ul,
ol{margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;} 

a {text-decoration: none;}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {margin: 0;}
ul, ol {margin: 0;padding: 0;}

img{display: block;}

button {cursor: pointer;}

.container {max-width: 1440px;
    padding: 0 0;
    margin:  0 auto;
    outline: 1px solid red;}

.page-body{font-family: "Roboto", sans-serif;background: #FFFFFF;color: #434455;}

/*========HEADER==============*/

.header{line-height: 1.17;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
     background: #fff;}

.header-container{display: flex;
    align-items: center;
    height: 72px;
    position: relative;
    color: #404bbf;}  

.page-navigation{display: flex;
    align-items: center;}

.nav-menu{display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    align-items: center;}

.logo{
    font-family:"Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-left: 156px;
    margin-right: 76px;}

.logo-text-roboto{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;}

.menu-item-span::after{display: flex;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;}
    

.menu-link:hover, 
.menu-link:focus{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;}

.menu-item-span{position: relative;
    top: 15px;
    position: relative;
    color: #404bbf;}

.menu-link{font-weight: 500;
    padding-top: 16px;
    font-size: 16px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
    color:#2e2f42;
  /*  padding-top: 10px;*/
    display: block;
    width: 48px;
    height: 48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.address{color:#434455;font-style: normal;
    margin-left: auto;}

.addres-container{display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.address-item{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;}  

.address-item:hover,   
.address-item:focus{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;}

/*=========hero page===========*/ 

.hero{display: flex;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color:#2e2f42;
    /*background-image: url("../images/Dark-bg.png"),url("../images/hero\ image.jpg");*/
  /*  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero\ image.jpg");*/
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero\ image.jpg); 
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: cover;
    background-position: center;
    }

    
.hero-container{}


.hero-page{font-weight: 700px; 
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;}
 


.button-item{border: none;
    min-width: 169px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    background:#4d5ae5;
    color:#fff;    
    font-weight:500;
    letter-spacing:0.04em;
    line-height:1.5;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.button-item:hover,
.button-item:focus{background:#404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);}        

/*===========benefits page===============*/ 

.benefits{
    padding-top: 120px;
    padding-bottom: 120px;}

.benefits-container{width: 1128px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: stretch;
    gap: 24px;}

.visually-hidden {position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.li-benefits{width: calc((100% - 72px) / 4); }

.benefits-list-link{display: flex;
    flex-direction: column;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    align-items: center;}

.benefits-item{font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 8px;
    color:#2e2f42;}

.benefits-link{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

/*============our team============*/

.our-team-container{
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;}


.ourteam-h{font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px} 

.photo-container{display: flex;
    flex-direction: row;
    gap: 24px;}
 /* */  
.ourteam-fhoto{background-color:#FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}    

.ourteam-item{text-align: center;
    margin-bottom: 8px}    

.ourteam-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;}

.our-team-list-link{
    width: 232px;
    height: 40px;
    padding-top: 8px;
    fill: #4d5ae5;}

.our-team-list-icon{
    width: 40px;
    height: 40px;
    margin-left: 20px;}    

.our-team-list-icon:hover,   
.our-team-list-icon:focus{fill: #404bbf;}  

.cart-container{
    padding-top: 32px;
    padding-bottom: 32px;}    

/*========Our-Portfolio======*/

.ourportfolio-container{
    padding-top: 120px;
    padding-bottom: 120px;}

.op-h{text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height:1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;}    

.portfolio-container{display: flex;
    flex-wrap: wrap; 
    gap: 18px;
    width: 1128;
    column-gap: 24px;
    row-gap: 48px;}

.li-container{
    position: relative;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3)}    

.ourportfolio{
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none;
    flex-direction: column;}

.op-item{font-weight: 500;
    font-size: 20px;
    line-height:1.2; 
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px}  

.op-link{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}    

.our-portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 71%;
    background-color: #4d5ae5;}

.op-overlay-text{display: flex;
    padding: 40px 32px 164px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;}    
/*=============FOOTER============*/


.footer-container{display: flex;
    width: 1440px;
    background: #2e2f42;
    gap: 120px;}
   
.footer-l{margin-left: 140px;
    padding-top: 100px;
    margin-bottom: 100px;} 
    
.footer-logo{font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:#4d5ae5;/*
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 16px;
    padding-top: 100px;
    margin-left: 156px;*/}
    
.footer-logo-raleway{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;}
   
.footer-item{line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;} 

.footer-i{padding-top: 100px;
    margin-bottom: 100px;
    color: #fff;}

.footer-list-link{
    width: 232px;
    height: 40px;
    padding-top: 8px;
    fill: #4d5ae5;}

.footer-list-icon{
    width: 40px;
    height: 40px;
    margin-top: 16px;}    

.footer-list-icon:hover,   
.footer-list-icon:focus{fill: #404bbf;}     